## From https://jasonstitt.com/gitignore-whitelisting-patterns

# 1. Ignore everything
*

# 2. But descend into directories
!*/

# 3. Allow specific files and file extensions
!.gitignore
!*.md
!*.tf
!*.py
!*.md
!*.toml
!scripts/*
!.agents/
!.agents/skills
!skills/*/agents/openai.yaml

# 4. Block some directories and files
*.git
skills/.system/
sessions/
shell_snapshots/
worktrees/
sqlite/
tmp/
vendor_imports/
automations
docs
tests